:root {
  --main-primario: #008083; 
  --main-secundario: #54B2A8;
  --main-terciario: #FF3333;
  --main-textoBlanco: #FFFFFF;
  --main-azulPrincipal: #54B2A8;
  --main-azulSecundario: #35A79D;
  --main-logoColor: rgba(0,128,131,0.8);
  --main-error: #BF1E2E;
   --main-secundarioError: #BF1E2E;
}

/*color base*/
.primario{ background: var(--main-primario);}
.secundario{ background: var(--main-secundario);}
.terciario{ background: var(--main-terciario);}
/* color botones y navegadores */
.primarioNav{ background: var(--main-primario); color: white; }
.secundarioNav{ background: var(--main-secundario); color: white; }
.terciarioNav{ background: var(--main-terciario); color: white; }
/* color icono navegadores*/
.primarioNav i { color:var(--main-textoBlanco); }
.secundarioNav i { color:var(--main-textoBlanco); }
.terciarioNav i { color:var(--main-textoBlanco); }
/* color logo intro qr*/
.logoIntro{ font-size: 90px;  color: var(--main-logoColor); }
/* colores index personal */
.actividades   { background-color: var(--main-azulPrincipal); }
.mensajes  { background-color: var(--main-azulSecundario); }
.peticiones   { background-color: var(--main-azulSecundario); }
.desempeno { background-color: var(--main-azulPrincipal); }
.runner{ font-size:40px; color: var(--main-azulSecundario); }
/*colores index supervisor*/
.ordenes   { background-color: var(--main-azulPrincipal); }
.control  { background-color: var(--main-azulSecundario); }
.empleados   { background-color: var(--main-azulSecundario); }
.sucursales { background-color: var(--main-azulPrincipal); }
.peticionesSuper   { background-color: var(--main-azulPrincipal); }
.informes  { background-color: var(--main-azulSecundario); }
.mensajesSuper   { background-color: var(--main-azulSecundario); }
.incidencias { background-color: var(--main-azulPrincipal); }
/* banner color */
.header { position:relative; text-align:center; background: var(--main-primario); color:white; }
/* banner color error */
.headerError { position:relative; text-align:center; background: var(--main-error); color:white; }
.primarioNavError{ background: var(--main-secundarioError); color: white; }
.primarioNavError i { color:var(--main-textoBlanco); }
visto{ font-size: 12px;}